.body{
    width: 70%;
    margin: auto;
    border: 1px solid grey;
    box-shadow: 0 0 2px grey;
    height: 100vh;
    padding: 26px;
    box-sizing: border-box;
}
.question{
    padding: 20px 0px;
    font-size: 20px;
}
.options{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

label{
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}
p{
    margin: 0;
}
.color_pallet{
    width: 90%;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 24px;
}
.sc{
    text-align: center;
    margin-top: 24px;
}
